:root {
    font-size: 16px;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1e272e;
    font-family: "Poppins", sans-serif;
    color: white;
}

nav {
    position: fixed;
    background-color: #e74c3c;
    width: 5rem;
    height: 100vh;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

ul > a {
    width: 100%;
    text-decoration: none;
    color: white;
}

li {
    transition: background-color 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    cursor: pointer;
}

li:hover {
    transition: background-color 1s ease-in-out;
    background-color: #1e272e;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

main {
    margin-left: 5rem;
}

/* id Components */

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#name {
    font-weight: 700;
}

/* class Components */

.container {
    width: 100%;
    max-width: 900px;
}

.p-container {
    width: 100%;
    max-width: 540px;
    font-weight: 400;
    color: #f1f2f6;
}

.row {
    display: flex;
}

.col {
    flex: 1;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}

.text-center {
    text-align: center;
}

.box {
    padding: 2rem;
    background-color: #2f3542;
    border-radius: 0.5rem;
}

.title {
    transition: color 0.5s ease-in-out;
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
}

.icon {
    fill: white;
    width: 2.5rem;
    height: 2.5rem;
}

.main-highlight {
    color: #e74c3c;
}

.blinking-cursor {
    animation: 1s blink step-end infinite;
}
/* media n keyframes */

@media only screen and(min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

@media only screen and(max-width: 1440px) {
    .container {
        max-width: 1140px;
    }
}

@media only screen and (max-width: 700px) {
    :root {
        font-size: 12px;
    }

    .container {
        max-width: 540px;
    }

    .row {
        flex-direction: column;
    }

    main {
        margin-left: 0px;
    }

    nav {
        position: fixed;
        background-color: #e74c3c;
        width: 100vw;
        height: 5rem;
        bottom: 0px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;
    }

    ul > a:first-child {
        display: none;
    }
}

@keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}
