/* BODY */
html {
  line-height: 1.2rem;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 1vw;
}

body {
  margin: 0px;
  height: 100vh;
  display: flex;
  color: white;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: space-between;
  background-color: rgba(45, 45, 45, 1);
}

html,
body {
  overflow-x: hidden;
}

.large {
  font-weight: normal;
  line-height: normal;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 5rem;
  letter-spacing: 4px;
  font-weight: bold;
  margin: 0px;
  color: rgba(46, 204, 113, 1);
  text-transform: uppercase;
  word-wrap: break-word;
}

.medium-spacing {
  font-weight: normal;
  line-height: normal;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 4rem;
  letter-spacing: 4px;
  margin: 0px;
}

.medium-spacing-halfsize {
  font-weight: normal;
  line-height: normal;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 2rem;
  letter-spacing: 4px;
  margin: 0px;
}

.main-title-large {
  font-weight: normal;
  line-height: normal;
  font-size: 3rem;
}

.main-title {
  font-weight: normal;
  line-height: normal;
  font-size: 1.5rem;
}

.small {
  font-weight: normal;
  font-size: 0.7rem;
}

.quote {
  font-family: "Covered By Your Grace", cursive, sans-serif;
  font-size: 1.5rem;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

/* Background colors */
.emerald,
.under-construction {
  width: 100vw;
  padding: 20px;
  text-align: center;
}

.emerald {
  background-color: rgba(46, 204, 113, 1);
  margin: 20px auto;
  margin-bottom: 0px;
}

.under-construction {
  margin-top: 0px auto;
  color: rgba(45, 45, 45, 1);
  background-color: rgba(236, 240, 241, 1);
}

.baby-pink-light {
  background-color: rgba(243, 162, 200, 0.3);
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

/* Setting alignments and sizing */
/* for the flexbox */
.wrapper {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  display: flex;
  gap: 20px 20px;
}

.column {
  flex: 50%;
}

.w-900 {
  max-width: 900px;
  margin: auto;
}

/* for the grid system */
.grid-system-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.grid-system-4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

/* other */
.max-width {
  max-width: 450px;
}

.max-height {
  max-height: 350px;
}

.align-center {
  align-self: center;
}

.justify-content {
  justify-content: right;
}

.justify {
  text-align: justify;
}

.center {
  text-align: center;
}

.padding {
  padding: 20px;
}

.padding-top {
  padding-top: 20px;
}

.padding-right {
  padding-right: 20px;
}

.padding-bottom {
  padding-bottom: 20px;
}

.padding-left {
  padding-left: 20px;
}

.margin-auto {
  margin: auto;
}

.margin-trbl10 {
  margin: 10px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.bottom {
  align-self: flex-start;
  margin-top: auto;
}

@media (max-width: 768px) {
  html {
    font-size: 2vw;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 3vw;
  }

  .large {
    font-size: 3rem;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 4vw;
  }

  .large {
    font-size: 2rem;
  }
}
